@media (max-width: 1150px){
    h1{
        margin: 3% 0;
    }
}

@media (max-width: 750px){
    h1{
        font-size: calc(8vw + 1rem);
    }
}

@media (max-width: 558px) {
    .overlay p{
        padding: 0;
        margin: 0;
    }

    .overlay {
        padding: 6%;
    }

    ol {
        padding-left: 10%;
    }
}

